<%- include("../partials/headers.ejs", {title : "page de connexion" , style : "auth"}) %>
    <h1>Page de connexion</h1>
    <form class="form" action="" method="POST">
        
        <%- include("../components/input", {type: "email", name:"email" }) %>
        <%- include("../components/input", {type: "password", name:"password" }) %>
        <button type="submit">connexion</button>
    </form>


    <%- include("../partials/footers.ejs") %>